azure-ai-formrecognizer==3.0.0
azure-ai-textanalytics==5.1.0b3
azure-common==1.1.26
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT-Simple==0.0.3
pandas==0.25.1
Werkzeug==0.15.4
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.26
azure-core==1.12.0
Pillow==8.0.1
django-cors-headers==3.6.0
django-filter==2.4.0
django-polymorphic==3.0.0
django-rest-polymorphic==0.1.9
djangorestframework==3.12.2
djangorestframework-csv==2.1.0
djangorestframework-xml==2.0.0